.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: black;
}

.highlight {
  color: #007bff;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .categories-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .categories-grid {
    grid-template-columns: 1fr;
  }
}

.category-card {
  background: #fff;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  height: 170px;
  width: 200px;
  margin: auto;
}

.category-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center; /* This centers the image within the card */
  display: block;
}


.category-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.more-categories-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.more-categories-button:hover {
  background-color: #0056b3;
}
